{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Symbol</th>
            <th scope="col">Transaction</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>

        </tr>
    </thead>
    <tbody>
        {% for t in transactions %}
        <tr>
            <td>{{ t.date }}</td>
            <td>{{ t.symbol }}</td>
            <td>{{ t.transaction }}</td>
            <td>{{ t.shares }}</td>
            <td>{{ t.price }}</td>
            <td>{{ t.total }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}
